<h1>Stupid Coaching</h1>

<div id="inputquestion">
<p><%= @question %></p>
<p><i> -You</i></p>
</div>

<div id=inputanswer>
<p><%= @answer %></p>
<p> <i>-Your coach</i></p>
</div>

<div id="backlink">
<a href="/ask"></a>
<%= link_to "Ask a new question", ask_path %>
</div>

